@tailwind base;
@tailwind components;
@tailwind utilities;



body {
    width: 100%;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background: rgb(26,56,86);
    background: linear-gradient(90deg, rgba(26,56,86,1) 8%, rgba(133,207,249,1) 31%, rgba(123,193,234,1) 70%, rgba(26,56,86,1) 93%);
    color: white;
}